In [2]:
import pandas as pd
import sys
import os

# Add the project root directory to sys.path
sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd())))

from ingestion import process_transactions
# Display all rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
import pandas as pd

# Load the normalized transaction data (adjust path if needed)
df = pd.read_csv("output/transactions_normalized.csv", parse_dates=["timestamp"])

# Preview
df.head()

,transaction_id,timestamp,type,asset,quantity,price,fees,currency,source_account,destination_account,account_owner,institution,file_type,transfer_id
0,59b38df0-9e3f-4aae-a135-fe1d399abcab,2025-02-27 17:14:30+00:00,buy,SOL,7.067012,137.5000,18.400000,USD,NaN,NaN,nash,coinbase,coinbase,NaN
1,aa734648-ceb4-4388-b2fb-ef347a987131,2025-02-26 12:52:14+00:00,staking_reward,XTZ,0.002089,0.7680,0.000374,USD,NaN,NaN,nash,coinbase,coinbase,NaN
2,e83f2808-32df-4a47-9695-a5c5818f7236,2025-02-25 23:45:00+00:00,staking_reward,ADA,0.000952,0.6835,0.000288,USD,NaN,NaN,nash,coinbase,coinbase,NaN
3,6853f104-72e9-45f2-bc7a-cb456f124589,2025-02-25 15:53:09+00:00,staking_reward,ETH,0.005587,2418.5550,0.000000,USD,NaN,NaN,nash,coinbase,coinbase,NaN
4,095c3601-6221-41ea-b130-b8e299139ea0,2025-02-24 14:38:13+00:00,staking_reward,ATOM,2.429380,4.6980,2.633821,USD,NaN,NaN,nash,coinbase,coinbase,NaN

In [5]:
# List of transaction types relevant to crypto (adjust if needed)
crypto_types = [
    "buy", "sell", "staking_reward", "airdrop",
    "transfer_in", "transfer_out", "deposit", "withdrawal", "swap"
]

# Get distinct asset symbols used in crypto-related transactions
crypto_assets = (
    df[df["type"].isin(crypto_types)]
    .asset.dropna()
    .str.upper()
    .unique()
)

# Display sorted list for mapping
sorted_assets = sorted(crypto_assets.tolist())
print(sorted_assets)

['AAVE', 'ADA', 'ALGO', 'ATOM', 'AVAX', 'BAT', 'BCH', 'BTC', 'BTCUSD', 'CGLD', 'COMP', 'DOT', 'EOS', 'ETC', 'ETH', 'ETH2', 'ETHUSD', 'FIL', 'FLR', 'GUSD', 'GUSDUSD', 'LINK', 'LTC', 'MANA', 'MATIC', 'MKR', 'REP', 'SNX', 'SOL', 'SOLUSD', 'STORJ', 'SUSHI', 'UNI', 'USD', 'USDC', 'USDCUSD', 'XLM', 'XRP', 'XTZ', 'YFI', 'ZEC', 'ZRX']

In [6]:
# Show 3 transactions for each asset (change "SOL" to the symbol you want)
df[df["asset"].str.upper() == "SOL"].head(3)

,transaction_id,timestamp,type,asset,quantity,price,fees,currency,source_account,destination_account,account_owner,institution,file_type,transfer_id
0,59b38df0-9e3f-4aae-a135-fe1d399abcab,2025-02-27 17:14:30+00:00,buy,SOL,7.067012,137.500,18.400000,USD,NaN,NaN,nash,coinbase,coinbase,NaN
5,c650f8fd-5801-4350-871b-a50dd7bc6420,2025-02-23 19:02:03+00:00,staking_reward,SOL,0.197737,167.915,17.882773,USD,NaN,NaN,nash,coinbase,coinbase,NaN
10,f5f30a0b-a286-4013-8259-88dc9d74315b,2025-02-20 01:48:52+00:00,staking_reward,SOL,0.107094,168.150,9.704023,USD,NaN,NaN,nash,coinbase,coinbase,NaN